.home_profile{
    width: 288px;
    height: 212px;
    box-sizing: border-box;
    background-color: white;
}
.home_profile_cover{
    width: 100%;
    height: 95px;
    background-color: #1da1f2;
}
.home_profile_img{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border:2px solid white;
    margin-top:-20px;
    margin-left:5px;
    float:left;
}
#profile_h2{
    margin-left: 10px;
    margin-top:10px;
    float:left;
}

#profile_h4{
   float:left;
    margin-left:-20%;
    margin-top:20px;
    color: #657786;
}
.home_profile_stats{
    box-sizing: border-box;
}
.profile_ul{
    list-style-type: none;
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
}
li {
    width:33%;
    text-align: center;
    font-weight: bold;
    margin-top:18px;
}
.home_profile_name{
    margin-bottom:-10px;
}
/*24.03.2017 Boris*/
.home_wrap{
    width: 1190px;
    height: 1000px;
    margin:auto;
    padding-top: 60px;
    border:1px solid black;
}
#hm_prof_img{
    position: relative;
}
#cover{
    width: 100%;
    height: 95px;
}
#home_left_div{
    float: left;
    height: 600px;
    width: 288px;
    border:1px solid black;
}
#home_mid_div{
    float: left;
    width: 590px;
    height: 2000px;
    border:1px solid black;
    margin-left:10px;
}
#home_right_div{
    float: left;
    height: 600px;
    width: 288px;
    border:1px solid black;
    margin-left:8px;
}
/*compose_twat.html*/
#twat_box{
    height: 58px;
    width: 590px;
    background-color: #A3D4F2;
}
#twat_box_icon{
    height: 35px;
    width: 35px;
    border-radius:50%;
    margin-left:10px;
    margin-top:12px;
}