html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
#wrong{
    color: red;
    margin-left: 14%;
}
html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}
/*Left side of the page*/
#left {
    width: 50%;
    background-color: #1da1f2;
    height: 93%;
    position: relative;
    float: left;
}

#left img {
    width: auto;
    max-height: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}

#static_sentences {
    width: 440px;
    height: 250px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 6%;
    bottom: 0;
}

#whot_to_follow {
    width: 100%;
    height: 33.4%;
}

#second {
    width: 100%;
    height: 33.3%;
}

#third {
    width: 100%;
    height: 33.3%;
}

.position {
    float: left;
    color: white;
    padding: 16px;
}

p {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 19px;
    color: white;
    padding-top: 4%;
}
/*Right side ot the page*/
#right{
    width: 50%;
    height: 93%;
    position: relative;
    float: right;
}

#login{
    margin-top: 20px;
    height: 88px;
    width: 100%;
}

.input{
    padding: 13px;
    width: 34%;
    height: 24px;
    margin: 14px 5px 14px 0px;
    border-radius: 4px;
    border: 1px solid #e6ecf0;
    color: #657786;
    font-size: 1em;
    font-family: "Segoe UI";
    margin-left: 5px;
}

#input_left{
    margin-left: 30px;
}

#login form{
    width: 70%;
    margin: auto;
}

#button{
    height: 50px;
    width: 65px;
    border-radius: 33px;
    border: 1px solid #2ba6f2;
    background-color: white;
    color: #1da1f2;
    font-size: 1em;
    font-weight: bold;
    outline:none;
    cursor: pointer;
}

#button:hover{
    background-color: rgba(43, 166, 242, 0.2);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#registration{
    width: 400px;
    height: 370px;
    background-color: transparent;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#reg_check{
    position: absolute;
    left: 0;
    bottom: -160px;
}

#registration img{
    width: 70px;
}

#registration h1{
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 2em;
}

#registration h3{
    margin-top: 20px;
    font-family: "Segoe UI";
    font-weight: bold;
}

#registration form{
    margin-top: 15px;
}

.reg_input{
    padding: 13px;
    width: 400px;
    height: 24px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #e6ecf0;
    color: #657786;
    font-size: 1em;
    font-family: "Segoe UI";
}

.reg_button{
    height: 40px;
    width: 150px;
    margin-top: 30px;
    border-radius: 33px;
    border: 1px solid #2ba6f2;
    background-color: #2ba6f2;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    outline:none;
    cursor: pointer;
}

.reg_button:hover{
    background-color: #1b95e0;
 }

h4{
    float: right;
    margin-top: 38px;
    margin-bottom: 24px;
    font-family: "Segoe UI";
    font-weight: normal;
}

h4 a{
    text-decoration: none;
    color: #1da1f2;
}

h4 a:hover{
    text-decoration: underline;
    color: #1da1f2;
}
/*Footer*/

footer{
    width: 100%;
    height: 7%;
    border-top:2px solid rgba(186,183,183,0.2) ;
    bottom: 0;
    position: absolute;
}

footer #copy h4{
    color: rgba(147, 158, 180, 0.71);
    font-family: "Segoe UI";
    font-weight: normal;
    margin-top: 25px;
}

#copy{
    margin: auto;
    width: 400px;
    height: 20px;
    background-color: transparent;
}


@media only screen and (max-width: 1700px) {
    #login form{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 1490px) {
    #login form{
        width: 100%;
        margin: auto;
    }
}




#ads{
    background-color: rgba(23, 190, 99, 0.71);
}


