html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Georgi*/

#cover {
    width: 100%;
    height: 200px;
    background-color: #1da1f2;
}

body {
    background-color: #e6ecf0;
}
#height{
    height: 1500px;
}
nav {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: sticky;
}

#cover_img{
    width: 100%;
    height: 200px;
    position: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 24%;
    height: 100%;
    padding-top: 15px;
}

nav ul {
    width: 400px;
    margin: auto;
    height: 80%;
}

nav ul li a {
    width: 100%;
    text-decoration: none;
    color: rgba(47, 54, 64, 0.71);
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 13px;
}

nav ul li a:hover {
    border-bottom: 3px solid #1b95e0;
    padding-bottom: 36px;
}

span {
    margin: auto;
    width: 60px;
    display: block;
}

#edit_btn {
    height: 35px;
    width: 200px;
    margin-top: -60px;
    margin-right: 15%;
    float: right;
    border-radius: 33px;
    border: 1px solid #66757f;
    background-color: transparent;
    color: #66757f;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#edit_btn:hover {
    background-color: #eeeeee;
}

#circle {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: absolute;
    top: 100px;
    left: 15%;
    box-sizing: border-box;
    overflow: hidden;
}

#circle img {
    width: 100%;
    height: 100%;
}

#nav_image {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
#nav_img{
    width: 100%;
    height: auto;
}

#profile_card a {
    color: #1da1f2;
    text-decoration: none;
}

#profile_card {
    opacity: 0;
    margin-top: -50px;
    margin-left: 270px;
    width: 200px;
    height: 70px;
    transition: opacity 1s linear;
}
#ul{
    margin-top: 10%;
    background-color: #ffffff;
    width: 95%;
    height: auto;
}
#ul li{
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #006dbf;
}
#ul img{
    width: 26px;
    height: 26px;
}
#ul li a{
    text-decoration: none;
    color: #006dbf;
    font-size: 1.5em;
}
#ul li a:hover{
    color: #1da1f2;
}
#profile_edit{
    width: 300px;
    height: auto;
    background-color: #e8f5fd;
    position: absolute;
    right: 12%;
    border-radius: 10px;
    z-index: -2;
    visibility: hidden;
}
#profile_edit input {
    width: 95%;
    margin: 5px;
    border-radius: 5px;
    height: 25px;
}
#btn_edit{
    width: 95%;
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    border: 1px solid #1da1f2;
    cursor: pointer;
    color: #1da1f2;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 1em;
}


/*Boris*/

.topbarcontainer {
    width: 1190px;
    margin: auto;
    background-color: white;
}

.topbar {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
    height: 46px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding-bottom: -5px;
}

.navLi {
    list-style-type: none;
    display: inline;
    margin: 0;
}

ul {
    padding: 0;
}

#msg {
}

.navImg {
    margin-top: 5px;
}

.navLi:hover {
    border-bottom: 2px solid dodgerblue;
    cursor: pointer;
}

#test {
    margin-left: 21%;
}

#test:hover {
    border-bottom: 0;
}

.navigation {
    height: 30px;
}

#asd {
    float: right;
    margin-top: -22px;
}

#searchInput {
    background-color: #f5f8fa;
    font-size: 12px;
    height: 28px;
    border-radius: 21px;
    box-shadow: none;
    border: 1px solid #e6ecf0;
    color: gray;
    width: 221px;
    padding-left: 15px;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;
    outline: none;
}

#searchInput:focus {
    border-radius: 21px;
    border: 2px solid cornflowerblue;
    outline: none;
}

#searchIcon {
    float: left;
    margin-top: 5px;
    margin-left: -35px;
    color: gray;
    cursor: pointer;
}

#iconDiv {
    float: right;
    margin-top: -25px;
    margin-right: 15px;
}

#profile_icon {
    height: 36px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
}

#top_bar_twat {
    float: right;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    width: 75px;
    height: 35px;
    background-color: #48AAE6;
    margin-top: -25px;
    margin-right: 5px;
    color: white;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
}

#top_bar_twat:hover {
    background-color: #006dbf;
}

