html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;

}

/*Georgi*/

#cover {
    width: 100%;
    height: 400px;
    background-color: #1da1f2;
}
body {
    background-color: #e6ecf0;
}
nav {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: sticky;
}
.in_my_nav{
    width: 1190px;
    height: 100%;
    margin: auto;
}
#cover_img{
    width: 100%;
    height: 400px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 15%;
    height: 100%;
    padding-top: 15px;
}
nav ul {
    width: 700px;
    margin: auto;
    height: 80%;
}
nav ul li a {
    width: 100%;
    text-decoration: none;
    color: rgba(47, 54, 64, 0.71);
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 13px;
}
nav ul li a:hover {
    border-bottom: 3px solid #1b95e0;
    padding-bottom: 36px;
    color: #1da1f2;
}
span {
    margin: auto;
    width: 60px;
    display: block;
    font-size: 20px;
}
#edit_btn {
    height: 35px;
    width: 200px;
    margin-top: -60px;
    float: right;
    border-radius: 33px;
    border: 1px solid #66757f;
    background-color: transparent;
    color: #66757f;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
#edit_btn:hover {
    background-color: #eeeeee;
}
#circle {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: absolute;
    top: 300px;
    box-sizing: border-box;
    overflow: hidden;
}
#circle img {
    width: 100%;
    height: 100%;
}
#nav_image {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    transition: visibility 1s linear;
    display: inline-block;
    overflow: hidden;
}
#nav_img{
    width: 100%;
    height: 100%;
    transition: visibility 1s linear;
}
#profile_card a {
    color: #1da1f2;
    text-decoration: none;
}
#profile_card {
    left: 0;
    opacity: 0;
    margin-top: -50px;
    margin-left: 2%;
    width: 200px;
    height: 70px;
    transition: opacity 1s linear;
}
#ul{
    margin-top: 10%;
    background-color: #ffffff;
    width: 95%;
    height: auto;
}
#ul li{
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #006dbf;
}
#ul img{
    width: 26px;
    height: 26px;
}
#ul li a{
    text-decoration: none;
    color: #006dbf;
    font-size: 1.5em;
}
#ul li a:hover{
    color: #1da1f2;
}
#profile_edit{
    width: 350px;
    height: auto;
    background-color: #e8f5fd;
    position: absolute;
    right: 10%;
    border-radius: 10px;
    z-index: -2;
    visibility: hidden;
}
#profile_edit table{
    width: 400px;
}
#profile_edit input {
    width: 75%;
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    outline: none;
}
#btn_edit{
    width: 95%;
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    border: 1px solid #1da1f2;
    cursor: pointer;
    color: #1da1f2;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 1em;
}
#btn_unfollow{
    width: 50%;
    margin: 5px;
    margin-top: 10%;
    border-radius: 5px;
    height: 25px;
    background-color: #2b97df;
    border: 1px solid #1da1f2;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 1em;
    outline: none;
}
#btn_unfollow:hover{
    background-color: #e0245e;
    border: 1px solid #e0245e;
}
#main{
    width: 1190px;
    height: 1000px;
    margin: auto;
}
#user_info{
    margin-top: 20px;
    width: 280px;
    height: 350px;
    float: left;
}
#center_tweet{

    width: 600px;
    height: 1000px;
    margin: 20px 15px 0px 15px;
    background-color: white;
    float: left;
}
#random_users{
    margin-top: 20px;
    width: 280px;
    height: 350px;
    background-color: #ffffff;
    float: right;
}
.followingUserInfo{
    margin: 10px;
    width: 269px;
    height: 212px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    float: left;
}
.followingUserInfo_cover{
    width: 100%;
    height: 95px;
    background-color: #1da1f2;
}
#followingUserInfo_image{
    width: 100%;
    height: 95px;
}
.followingUserDiv_name{
    margin-bottom: -10px;
}
#followingUserProfile_image{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -20px;
    margin-left: 5px;
    float: left;
    position: relative;
}
#profile_h2{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: inline;
}
#profile_h4{
    margin-left: -20px;
    float: left;
    margin-top: 40px;
    color: #657786;
    display: inline;
}
#profile_h4:hover{
    color: #006dbf;
}
#name{
    font-size: 21px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 25px 0px 0px 25px;
}
#name_{
    font-size: 13px;
    font-weight: lighter;
    color: #657786;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px 0px 0px 25px;
}
#descriptionid{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 25px 50px 0px 25px;
}
#cityid{
    font-size: 15px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 25px 50px 0px 25px;
    color: #66757f;
}
#reg_date{
    font-size: 15px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 5px 50px 0px 25px;
    color: #66757f;
}
#emailid{
    font-size: 15px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 5px 50px 0px 25px;
    color: #66757f;
}
#who_to_follow{
   width: 100%;
    height: 20%;
    box-sizing: border-box;
}
#who_to_follow h1{
    font-size: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 25px 0 0 20px;
    float: left;
}
#who_to_follow a{
    font-size: 13px;
    float: left;
    padding: 28px 0 0 10px;
    color: #2b97df;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#who_to_follow a:hover{
    text-decoration: underline;
}
#first{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(209, 209, 209, 0.3);
}

#random_img_div{
    margin: 4% 0 0 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

}
#random_img{
    width: 50px;
    height: 50px;
}
#random_name{
    font-size: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    left: 100px;
    margin-top: -50px;
}
#a_name{
    color: black;
    text-decoration: none;
}
#a_name:hover{
    color: #2b97df;
    text-decoration: underline;
}

.follow_btn {
     height: 25px;
     width: 80px;
     border-radius: 33px;
     border: 1px solid #2b97df;
     background-color: transparent;
     color: #2b97df;
     font-weight: bold;
     margin: 7px 0 0 100px;
     outline: none;
     cursor: pointer;
 }
.follow_btn:hover {
    background-color: rgba(49, 175, 255, 0.2);
}

#last_div{
    width: 100%;
    height: 9%;

}
#last_div h1{
    font-size: 13px;
    color: #2b97df;
    margin: 7px 40px 7px 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}





/*Boris*/

.topbarcontainer {
    width: 1190px;
    margin: auto;
    background-color: white;
}

.topbar {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
    height: 46px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding-bottom: -5px;
}

.navLi {
    list-style-type: none;
    display: inline;
    margin: 0;
}

ul {
    padding: 0;
}

#msg {
}

.navImg {
    margin-top: 5px;
}

.navLi:hover {
    border-bottom: 2px solid dodgerblue;
    cursor: pointer;
}

#test {
    margin-left: 21%;
}

#test:hover {
    border-bottom: 0;
}

.navigation {
    height: 30px;
}

#asd {
    float: right;
    margin-top: -22px;
}

#searchInput {
    background-color: #f5f8fa;
    font-size: 12px;
    height: 28px;
    border-radius: 21px;
    box-shadow: none;
    border: 1px solid #e6ecf0;
    color: gray;
    width: 221px;
    padding-left: 15px;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;
    outline: none;
}

#searchInput:focus {
    border-radius: 21px;
    border: 2px solid cornflowerblue;
    outline: none;
}

#searchIcon {
    float: left;
    margin-top: 5px;
    margin-left: -35px;
    color: gray;
    cursor: pointer;
}

#iconDiv {
    float: right;
    margin-top: -25px;
    margin-right: 15px;
}

#profile_icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
}

#top_bar_twat {
    float: right;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    width: 75px;
    height: 35px;
    background-color: #48AAE6;
    margin-top: -25px;
    margin-right: 5px;
    color: white;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
}

#top_bar_twat:hover {
    background-color: #006dbf;
}

