<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/style/home_style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="twat_box">
    <img id="twat_box_icon" src="">
    <textarea id="compose_twat_text" placeholder="What's happening?" onfocus="showButton()" onfocusout="hideButton()"></textarea>
</div>
<script>
    function profIcon() {
        var request = new XMLHttpRequest();
        request.open("GET", "../controller/profileController.php");
        request.onreadystatechange = function (ev) {
            if(this.status == 200 && this.readyState == 4){
                var response = JSON.parse(this.responseText);
                var img = document.getElementById("twat_box_icon");
                var img2 = document.getElementById("profile_icon");
                img.src = response['user_pic'];
                img2.src = response['user_pic'];
            }
        };
        request.send();
    }
    function showButton() {
        var twat_div = document.getElementById("twat_box");
        twat_div.style.paddingBottom="40px";
        var but = document.createElement("button");
        but.id="twat_button";
        but.innerHTML="Tweet";
        twat_div.appendChild(but);
    }
    function hideButton() {
        var twat_div = document.getElementById("twat_box");
        var but = document.getElementById("twat_button");
        twat_div.removeChild(but);
        twat_div.style.paddingBottom="4px";
    }
</script>
</body>
</html>