<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

</body>
<script>
    var req = new XMLHttpRequest();
    req.open("get", "../controller/displayTweetsController.php");
    req.onreadystatechange = function (ev) {
        if (this.status == 200 && this.readyState == 4) {
            var resp = this.responseText;
            resp = JSON.parse(resp);
            var div = document.getElementById("home_mid_div");
            for (var i=0; i < resp.length; i++) {
                var tweet = document.createElement("div");
                tweet.className = "ownTweets";
                tweet.innerHTML = "<img class='home_tweet_image' src="+resp[i]["user_pic"]+">"
                tweet.innerHTML+="<h1 class='tweet_name'><a href=>"+resp[i]["user_name"]+"</a></h1>";
                tweet.innerHTML+="<h4 class='tweet_date'>"+resp[i]["twat_date"]+"</h4>";
                tweet.innerHTML+="<p class='content' style='border: 0'>"+resp[i]["twat_content"]+"</p>";
                div.appendChild(tweet);

            }
        }
    };
    req.send();
</script>
</html>