<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

</body>
<script>
    var req = new XMLHttpRequest();
    req.open("get", "../controller/displayTweetsController.php");
    req.onreadystatechange = function (ev) {
        if (this.status == 200 && this.readyState == 4) {
            var resp = this.responseText;
            resp = JSON.parse(resp);
            var div = document.getElementById("home_mid_div");
            for (var i=0; i < resp.length; i++) {
                var tweet = document.createElement("div");
                tweet.className = "ownTweets";
                tweet.innerHTML="<a href=>"+resp[i]["user_name"]+"</a>";
                tweet.innerHTML+="<h5>"+resp[i]["twat_date"]+"</h5>";
                tweet.innerHTML+="<h3>"+resp[i]["twat_content"]+"</h3>";
                div.appendChild(tweet);

            }
        }
    };
    req.send();
</script>
</html>