<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/style/profile_style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
</head>
<body onload="profIcon()">
<div class="topbar" id="top_bar">
    <div class="topbarcontainer">
        <div class="navigation">
            <ul>
                <li class="navLi" id="navHome"><a href="home.php"><img class="navImg" src="assets/images/home.png"></a>
                </li>
                <li class="navLi" id="navNotifications"><img class="navImg" src="assets/images/notif.png"></li>
                <li class="navLi" id="navMessages"><img class="navImg" src="assets/images/msg.png"></li>
                <li class="navLi" id="test"><img src="assets/images/bird.png"></li>
                <li class="navLi" id="inputLi"></li>
            </ul>
        </div>
        <form method="post" action="../controller/sessionDestroy.php">
            <input type="submit" id="top_bar_twat" value="Log Out">
        </form>

        <div id="iconDiv">
            <a href="profile.php"><img id="profile_icon" src=""></a>
        </div>
        <div id="asd">
            <input oninput="search()" id="searchInput" type="text" placeholder="Search Twatter">
            <i class="fa fa-search" aria-hidden="true" id="searchIcon"></i>
            <div id="ul">

            </div>
        </div>
    </div>
</div>
<script>
    /*Georgi -- 23.03.2018 -- Търсене на потребители*/
    function search() {
        var pole = document.getElementById("searchInput").value;
        var request = new XMLHttpRequest();
        request.open("get", "../controller/searchController.php?name=" + pole);
        request.onreadystatechange = function (ev) {
            if (this.readyState == 4 && this.status == 200) {
                var ul = document.createElement("ul");
                ul.id = "search_ul";
                var response = JSON.parse(this.responseText);
                var div = document.getElementById("asd");
                var div2 = document.getElementById("ul");
                div2.innerHTML = "";
                div2.style.visibility = "visible";
                for (var key in response) {
                    var li = document.createElement("li");
                    var a = document.createElement("a");
                    a.href = "#";
                    var img = document.createElement("img");
                    a.innerHTML = response[key]["user_name"];
                    a.style.margin = "5px";
                    a.addEventListener("click", function () {

                        var name = this.innerText;
                        var queryString = "?" + name;
                        window.location.href = "profile.php" + queryString;
                    });
                    img.src = response[key]["user_pic"];
                    img.style.cssFloat = "left";
                    li.appendChild(img);
                    li.appendChild(a);
                    ul.appendChild(li);
                }
                div2.appendChild(ul);
                div.appendChild(div2);
            }
        };
        request.send();
    }

    /*Georgi -- 23.03.2018 -- Показване на снимката на логнатия потребител до сърч полето*/

        var request = new XMLHttpRequest();
        request.open("GET", "../controller/profileController.php");
        request.onreadystatechange = function (ev) {
            if (this.status == 200 && this.readyState == 4) {
                var response = JSON.parse(this.responseText);
                var img = document.getElementById("profile_icon");
                img.src = response['user_pic'];
            }
        };
        request.send();
    

</script>
</body>
</html>