<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/style/home_style.css" type="text/css" rel="stylesheet">
</head>
<body>

</body>
<script>
    var req = new XMLHttpRequest();
    req.open("get", "../controller/showUserTweets.php");
    req.onreadystatechange = function (ev) {
        if (this.status == 200 && this.readyState == 4) {
            var resp = this.responseText;
            resp = JSON.parse(resp);
            div = document.getElementById("center_tweet");
            for (var i=0;i<resp.length;i++){
                tweet = document.createElement("div");
                tweet.innerHTML=resp[i]["twat_date"];
                tweet.innerHTML+='<br>'+resp[i]["twat_content"];
                tweet.className="ownTweets";
                div.appendChild(tweet);
            }
        }
    };
    req.send();


</script>
</html>